@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron_my {
        background-color: #eeeeee;
        border-radius: 6px;
    }

    .paragraph {
        text-align: justify;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .image {
        float: left;
        width: 16%;
    }

    .description {
        float: right;
        width: 84%;
        text-align: center;
    }
</style>
<div class="jumbotron_my">
    <div class="image">
        <img src="/MeHowResearcher.png" alt="Researcher" width="170" height="227" />
    </div>
    <div class="description">
        <h1>Описание исследователя</h1>
    </div>
    <div>
        <p class="paragraph">

            Доктор біологічних наук, кандидат технічних наук, висококваліфікований спеціаліст у галузі медичної інформатики та
            обчислювальної фізіології, зав. відділом інформаційних технологій та математичного моделювання фізіологічних процесів
            Національного інституту серцево-судинної хірургії ім. М.М. Амосова.
        </p>
        <p class="paragraph">
            Настенко Є.А. є провідним фахівцем з розробки інформаційних технологій аналізу клінічної та біомедичної інформації.
            Проводить дослідження у галузі системної фізіології, системного аналізу та синергетики методами математичної
            статистики та математичного моделювання.
        </p>
        <p class="paragraph">
            Свою докторську дисертацію на тему «Закономірності самоорганізації та регуляції кровообігу людини» Настенко Є.А.
            захистив у 2008 році за спеціальністю «Біофізика». Кандидатська дисертація на тему «Розробка алгоритмів неінвазивної
            експрес-оцінки стану серцево-судинної системи при корекції набутих вад серця із штучним кровообігом», була захищена у 1989
            році за спеціальністю «Управління в біологічних та медичних системах».
        </p>
        <p class="paragraph">
            Настенко Є.А. закінчив у 1977 р. Київський інженерно-будівельний інститут за спеціальністю інженер-механік.
            Трудовий шлях розпочав в лабораторії медичної кібернетики Інституту туберкульозу, пульмонології та грудної хірургії
            ім. Ф.Г. Яновського на посадах старший інженер, старший інженер програміст (1981-1986 рр.). Далі працював в лабораторії
            штучного кровообігу Київського науково-дослідницького інституту серцево-судинної хірургії (1986 – 1992 рр.), де обіймав
            посади старшого та провідного наукового співробітника. З 1992 по 2005 рр. працював завідувачем відділом інформатики та
            перспективного планування Київського науково-дослідницького інституту серцево-судинної хірургії. З 2005 року дотепер
            працює завідувачем відділом інформаційних технологій та математичного моделювання фізіологічних процесів Національного
            інституту серцево-судинної хірургії ім. М.М. Амосова АМН України.
        </p>
    </div>

</div>
<div>
    <h1>
        Выписка из статьи с иследованиями
    </h1>
    <div class="jumbotron_my">
        <p class="paragraph">
            Дослідження проводилися на основі бази даних, що була надана
            факультетом фізичного виховання Національного технічного університету
            України “Київський політехнічний інститут ім. Ігоря
            Сікорського”. Дані склали спостереження за станом
            здоровя 599 студентів: 276 жінок та 323 чоловіків,
            серед яких 353 є кількісними фізіологічними показниками.
        </p>
        <p class="paragraph">
            Для проведення бінарної логістичної регресії
            (БЛР) та дискримінантного аналізу (ДА) і побудови
            моделей прогнозування приналежності особи до
            групи ризику були взяті наступні вхідні дані: 21
            значення артеріального тиску та пульсу для визначення реакції серцево-судинної системи студента
            на навантаження, тобто використання проби Мартіне. Серед яких АТС0, АТД0, ЧСС0 – показники
            до навантаження, АТС1, АТД1, ЧСС1 – АТС5,
            АТД5, ЧСС5 – показники після навантаження за 1,
            2, 3, 4 та 5 хвилини відповідно. АТР1, АТР2, АТР3–
            різниці між верхнім та нижнім тиском людини на
            першій, другій та третій хвилинах відповідно.
        </p>
        <p class="paragraph">
            Оскільки характеристики кластерів жінок суттєво відрізняються від характеристик кластерів
            чоловіків, для виявлення більш точних закономірностей в кластерах було прийняте рішення поділити
            базу даних на 2 частини та проводити аналізи
            окремо.
        </p>
        <p class="paragraph">
            Для аналізу було вибрано змінну – Кластер, що
            вказує на належність людини до тої чи іншої групи
            класифікації. У жіночої половини бази даних цих
            груп 8, чоловічої -7. На рисунках 1 та 2 приведено
            характеристики та рекомендації щодо цих груп.
        </p>
    </div>

</div>



