@model IEnumerable<Patederm.Models.CardioParam>

<p>Conclusion:</p>
<output>
    <b>Conclusion:</b>
    @ViewBag.ResultConclusion

    <b>Recomendation:</b>
    @ViewBag.ResultRecomendation
</output>
<br />
<p>Next conclusion:</p>
<output>
    <b>Conclusion:</b>
    @ViewBag.NextResultConclusion

    <b>Recomendation:</b>
    @ViewBag.NextResultRecomendation
</output>