
@{
    ViewBag.Title = "CreateImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateImage</h2>
<div class="form-horizontal">
    <h4>Picture</h4>>
    <hr/>
    <div class="editor-label">Picture Image</div>
    <div class="editor-field">
        <input type="file" name="hpf">
    </div>
</div>

